In [28]:
import csv
import pandas as pd
import altair as alt
from vega_datasets import data
import matplotlib.pyplot as plt
import numpy as np
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0