In [61]:
import csv
import math
import pandas as pd
import altair as alt
import numpy as np
from altair import datum
alt.data_transformers.disable_max_rows()
alt.data_transformers.enable('json')

DataTransformerRegistry.enable('json')

In [51]:
college= pd.read_csv('https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-All-Data-Elements.csv',usecols=['CONTROL','MD_EARN_WNE_P10'])

In [52]:
college.head(5)

   CONTROL MD_EARN_WNE_P10
0        1           31000
1        1           41200
2        2           39600
3        1           46700
4        1           27700

In [53]:
college['MD_EARN_WNE_P10'].isna().sum()

1303

In [54]:
college.dropna(inplace=True)
college['MD_EARN_WNE_P10'].isna().sum()

0

In [78]:
public=college.loc[college['CONTROL'] == 1].reset_index(drop=True)
public.drop(public[public['MD_EARN_WNE_P10']=='PrivacySuppressed'].index,inplace=True)
public['MD_EARN_WNE_P10'] = public['MD_EARN_WNE_P10'].astype('int64')

In [79]:
public.tail(10)

      CONTROL  MD_EARN_WNE_P10
1944        1            32000
1945        1            32500
1946        1            37700
1947        1            37700
1948        1            58000
1949        1            31700
1950        1            50600
1951        1            50600
1952        1            50600
1953        1            32000

In [92]:
sample_size_50 = public.sample(50)
sample_mean = sample_size_50['MD_EARN_WNE_P10'].mean()
sample_std = sample_size_50['MD_EARN_WNE_P10'].std()
sample_std = round(sample_std,2)
std_err = sample_std/math.sqrt(len(sample_size_50))
std_err = round(std_err,2)
print('std_err: ',std_err)
print('sample_std: ',sample_std)
print('sample_mean:',sample_mean)

std_err:  1683.71
sample_std:  11905.62
sample_mean: 38922.0

In [93]:
lower = sample_mean -  std_err
upper = sample_mean +  std_err

print("Lower confidence limit at 68% confidence level = ", round(lower,2))
print("Upper confidence limit at 68% confidence level = ", round(upper,2))

Lower confidence limit at 68% confidence level =  37238.29
Upper confidence limit at 68% confidence level =  40605.71

In [94]:
lower = sample_mean -  2 * std_err
upper = sample_mean +  2 * std_err

print("Lower confidence limit at 95% confidence level = ", round(lower,2))
print("Upper confidence limit at 95% confidence level = ", round(upper,2))

Lower confidence limit at 95% confidence level =  35554.58
Upper confidence limit at 95% confidence level =  42289.42

In [95]:
lower = sample_mean -  3 * std_err
upper = sample_mean +  3 * std_err

print("Lower confidence limit at 99.7% confidence level = ", round(lower,2))
print("Upper confidence limit at 99.7% confidence level = ", round(upper,2))

Lower confidence limit at 99.7% confidence level =  33870.87
Upper confidence limit at 99.7% confidence level =  43973.13

In [99]:
population_mean = public['MD_EARN_WNE_P10'].mean()
print('The population mean for earnings is: ',round(population_mean,2))

The population mean for earnings is:  36083.22

In [102]:
print('Here is the population mean of the entire earning: ',round(population_mean,2))
print('Here is the sample mean of 50 random schools: ',sample_mean)

Here is the population mean of the entire earning:  36083.22
Here is the sample mean of 50 random schools:  38922.0

# From looking at the population mean it appears to fall in all of the ranges for 68, 95, and 99.7%

In [103]:
sample_size_100 = public.sample(100)
sample_mean = sample_size_100['MD_EARN_WNE_P10'].mean()
sample_std = sample_size_100['MD_EARN_WNE_P10'].std()
sample_std = round(sample_std,2)
std_err = sample_std/math.sqrt(len(sample_size_50))
std_err = round(std_err,2)
print('std_err: ',std_err)
print('sample_std: ',sample_std)
print('sample_mean:',sample_mean)

std_err:  1487.75
sample_std:  10519.97
sample_mean: 35487.0

In [104]:
lower = sample_mean -  std_err
upper = sample_mean +  std_err

print("Lower confidence limit at 68% confidence level = ", round(lower,2))
print("Upper confidence limit at 68% confidence level = ", round(upper,2))

Lower confidence limit at 68% confidence level =  33999.25
Upper confidence limit at 68% confidence level =  36974.75

In [105]:
lower = sample_mean -  2 * std_err
upper = sample_mean +  2 * std_err

print("Lower confidence limit at 95% confidence level = ", round(lower,2))
print("Upper confidence limit at 95% confidence level = ", round(upper,2))

Lower confidence limit at 95% confidence level =  32511.5
Upper confidence limit at 95% confidence level =  38462.5

In [106]:
lower = sample_mean -  3 * std_err
upper = sample_mean +  3 * std_err

print("Lower confidence limit at 99.7% confidence level = ", round(lower,2))
print("Upper confidence limit at 99.7% confidence level = ", round(upper,2))

Lower confidence limit at 99.7% confidence level =  31023.75
Upper confidence limit at 99.7% confidence level =  39950.25

In [107]:
print('Here is the population mean of the entire earning: ',round(population_mean,2))
print('Here is the sample mean of 100 random schools: ',sample_mean)

Here is the population mean of the entire earning:  36083.22
Here is the sample mean of 50 random schools:  35487.0